
.collapse{
    height:0;
    display: block;
    overflow: hidden;
    transition: height ease .35s;
}

.collapse-btn[data-opened="true"]:before {
    content: attr(data-textopened);
}
.collapse-btn[data-opened="false"]:before {
    content: attr(data-textclosed);
}