.wrapper .footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    border-top: 1px solid #cfcfcf;
    margin-left: 200px;
    padding: 20px;
    z-index: 5;

}
.wrapper .aside--collapsed + section + .footer{
    margin-left: 65px;
}

@media (max-width: 768px) {
    .wrapper .section + .footer,
    .wrapper .aside--collapsed + .section  + .footer{
        margin-left:0;
    }
}
