.header{
    position: fixed;
    background: #008DA7;
    top: 0;
    width: 100%;
    padding: 3px 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    transition: all .3s;
    z-index: 10;
    user-select: none;
    cursor: default;
}
.header--default{
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid #FCFCFC;
}

.header__brand{
    margin-left: 20px;
    line-height: 50px;
    font-size: 2em;
    font-weight: bold;
}

.header__menu{
    height: 50px;
    float: right;
}
.header__item{
    display: inline-block;
}
.header__link{
    position: relative;
    line-height: 50px;
    margin-left: 30px;
    float: left;
}
.header__link.btn{
    line-height: normal;
    background: transparent;
    border: 2px solid #FCFCFC;
    padding: 9px 15px;
    margin: 7px 0 7px 30px;
}

.header__brand,
.header__brand:hover,
.header__brand:focus,
.header__link,
.header__link.btn,
.header__link.btn:hover,
.header__link.btn:focus{
    color: #FCFCFC;
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
}
.header__link:hover,
.header__link:focus{
    color: rgba(255,255,255,.8);
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.header__wrapper{
    height: 50px;
    line-height: 50px;
    width: calc(100% - 200px);
    float: left;
}

.header__title {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/** icon for opening aside menu */
.header__open-btn{
    display: none;
    position: fixed;
    top: 3px;
    right: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 12;
}
.header__open-btn i{
    display: block;
    position: absolute;
    background-color: #FCFCFC;
    border-radius: 20px;
    width: 25px;
    left: 12.5px;
    top: 20px;
    margin: 5px auto;
    height: 3px;
    transition: all ease .25s;
}
.header__open-btn i{
    background-color: #FCFCFC;
}
.header__open-btn i:first-child{
    top: 13px;
}
.header__open-btn i:last-child{
    top: 27px;
}

.header__open-btn--opened i {
    background-color: #008DA7 !important;
    opacity: 0;
}
.header__open-btn--opened i:first-child,
.header__open-btn--opened i:last-child {
    top: 20px;
    opacity: 1;
}
.header__open-btn--opened i:first-child {
    transform: rotate(45deg);
}
.header__open-btn--opened i:last-child {
    transform: rotate(-45deg);
}





/** Large Desktop */
@media (min-width: 1200px) {
    .header--default{
        padding: 20px 0;
    }
}

/** Phones */
@media (max-width: 767px) {

    .header__open-btn{
        display: block;
    }

    .header__menu{
        position: fixed;
        padding-top: 56px;
        display: table;
        top: -100%;
        left: 0;
        width: 100%;
        z-index: -1;
        background-color: #fafafa;
        visibility: hidden;
        transition: all .2s;
    }

    .header__menu--opened .header__item{
        display: block;
        text-align: center;
    }

    .header__menu--opened .header__link{
        border-top: 1px solid #E0E0E0;
        width: 100%;
        margin: 0;
        font-size: 1.2em;
        font-weight: bold;
    }

    .header__menu--opened .header__link.btn{
        color: #008da7 ;
        border: 0 ;
        background: transparent ;
        height: 50px ;;
        padding: 0 ;;
        line-height: 50px ;
        border-radius: 0;
        margin: 0 ;
        font-size: 1.2em ;
        border-top: 1px solid #E0E0E0 ;
        transform: none ;
        text-shadow: none;
        box-shadow: none ;
    }

    .header__menu--opened{
        top: 0;
        visibility: visible;
    }

    .header__open-btn--opened + .header__brand,
    .header__menu--opened .header__link{
        transition: all .3s;
        color: #008da7;
        text-shadow: none;
    }

    .header__wrapper {
        width: auto;
    }
    .header__wrapper .section__container{
        padding: 0 10px 0 5px;
    }

}