.search {
    position: relative;
    width: 100%;
}
.search__input {
    display: block;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #d7d8db;
}

.search__submit {
    display: flex;
    position: absolute;
    align-items: center;
    text-align: center;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    opacity: .5;
    cursor: pointer;
}
.search__submit:hover {
    opacity:.8;
}
.search__submit-icon{
    width: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}