@media (min-width: 40em) {
    .tablesaw-stack th{
        max-width: 60px;
        word-wrap: break-word;
    }
}
.tablesaw-stack td .tablesaw-cell-label,
.tablesaw-stack th .tablesaw-cell-label {
    padding-top: 5px;
    word-wrap: break-word;
}
.tablesaw-cell-content{
    width: 70%;
    max-width: 70%;
}