.tabs{
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-bottom: 20px;
    border: 0;
}
.tabs__header{
    padding: 0 15px;
    list-style: none;
    margin: 0;
    user-select: none;
    background-color: #fafbfc;
    font-size: 1em;
    border-radius: 2px 2px 0 0;
}

.tabs__header,
.tabs__search-block{
    position: relative;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    float: left;
}

.tabs__btn {
    display: block;
    padding: 18px 6px;
    line-height: 1em;
    margin: 0 8px -1px;
    outline: none;
    float: left;
    cursor: pointer;
}
.tabs__btn:hover {
    text-decoration: none;
    border-bottom: 2px solid #cad2db;
}
.tabs__btn--active,
.tabs__btn--active:hover{
    border-bottom: 2px solid #008DA7 !important;
}

.tabs__btn.btn{
    padding: 6px 16px;
    margin: 14px 5px 0 0;
}

.tabs__count{
    padding-left: 3px;
    font-size: .9em;
    color: #959595;
}

.tabs__content{
    width: 100%;
}

.tabs__block, .tabs__search-block{
    display: none;
}
.tabs__block--active, .tabs__search-block--active{
    display: block;
}


.item {
    border-bottom: 1px solid #e7e8ec;
    position: relative;
    padding: 12px 15px;
    width: 100%;
}
.item:last-child{
    border-bottom: 0;
}

.item__img-wrap{
    display: block;
    position: relative;
    overflow: hidden;
    float: left;
    margin: 0 15px 0 0;
    width: 90px;
    height: 90px;
}

.item__img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fafbfc;
}

.item__info{
    padding: 5px 10px 0 0;
    width: calc(100% - 105px);
    float: left;
    overflow: hidden;
}
.item__text{
    font-size: .9em;
    margin: 0 0 10px;
    word-wrap: break-word;
}
.item__text:last-child{
    margin: 0;
}

.item__info-controls{
    margin: 11px 0 3px;
    float: none;
    text-align: left;
    width: auto;
}


.tabs__search-input{
    width: 100%;
    box-shadow: none;
    border: none;
    line-height: 1.5em;
    padding: 14px 50px ;
}
.tabs__search-label{
    position: absolute;
    line-height: 1.5em;
    top: 10px;
    left: 15px;
    font-size: 1.3em;
    color: #008DA7;
}

.tabs__header:after, .tabs__header:before,
.tabs__content:after, .tabs__content:before,
.tabs__search:after, .tabs__search:before{
    content: " ";
    display: table;
    clear: both;
}




/**
 * Media - Mobile
 */

@media (max-width: 768px){
    .tabs__header{
        padding: 0;
        border-bottom: 0;
    }
    .tabs__header .col-xs-12{
        padding: 0;
    }
    .tabs__btn{
        width: 100%;
        text-align: center;
        padding: 10px 6px;
        height: 38px;
        float: none;
        margin: 0 auto;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid #e0e0e0;
    }

    .tabs__btn.btn{
        margin: 0;
        border: 0;
        border-radius: 0;
    }

}