.time-line{
    list-style: none;
    padding: 0 15px 20px;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.time-line:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 33px;
    content: " ";
    width: 4px;
    background-color: rgba(207, 207, 207, 0.5);
}

.time-line__end{
    margin-bottom: 45px;
}

.time-line .popover.left > .arrow:after{
    border-left-color: #fff;
}

.time-line .popover.right > .arrow:after{
    border-right-color: #fff;
}

.time-line .popover.left > .popover-title + .arrow:after{
    border-left-color: #fafafa;
}

.time-line .popover.right > .popover-title + .arrow:after{
    border-right-color: #fafafa;
}


/* item */
.time-line__item {
    position: relative;
    margin-bottom: 30px;
}

/* separator */
.time-line__separator {
    position: relative;
    margin: 30px 0;
}

.time-line__separator:first-child {
    margin-top: 0;
}

.time-line__separator:before {
    content: attr(data-datetime);
    display: inline-block;
    width: 130px;
    text-align: center;
    line-height: 30px;
    background-color: #cfcfcf;
    color: #212121;
}


/* content */
.time-line__content {
    width: 100%;
    padding-left: 60px;
}

/* popover */
.time-line__popover {
    position: relative;
    display: block;
    width: 100%;
    line-height: 1.5;
    font-size: 1em;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.time-line__popover-arrow,
.time-line__popover-arrow:after{
    position: absolute;
    display: block;
    border: solid transparent;
}

.time-line__popover-arrow {
    top: 7px;
    border-width: 11px;
    left: -11px;
    right: auto;
    border-left-width: 0;
    border-right-color: #d7d8db;
}

.time-line__popover-arrow:after {
    border-width: 10px;
    content: "";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #FFFFFF;
}


.time-line__badge {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 1.3em;
    text-align: center;
    z-index: 2;
}

.time-line__popover-content{
    padding: 10px 15px;
    font-size: .9em;
}
.time-line__popover-content:before,
.time-line__popover-content:after{
    display: table;
    clear: both;
    content: " ";
}
.time-line__popover-heading{
    margin: 0 0 5px;
    font-weight: bold;
}

.time-line__popover-text{
    margin: 0 0 10px;
}

.time-line__popover-date{
    color: #bbb;
}


@media (min-width:768px) {
    .time-line:before {
        left: 50%;
        margin-left: -2px;
    }
    .time-line__content {
        width: 50%;
        padding: 0 40px 0 0;
    }

    .time-line__item--inverted .time-line__content {
        margin-left: auto;
        padding: 0 0 0 40px;
    }

    .time-line__popover-arrow{
        transform: rotate(180deg);
        right: -11px;
        left: auto;
    }
    .time-line__item--inverted .time-line__popover-arrow{
        transform: rotate(0);
        left: -11px;
        right: auto;
    }

    .time-line__separator {
        text-align: center;
    }

    .time-line__end{
        margin-bottom: 20px;
    }

    .time-line__badge {
        left: 50%;
        margin-left: -20px;
    }

    .time-line__popover-date{
        position: absolute;
        top: 8px;
        font-size: 1.2em;
        width: 100%;
    }
    .time-line__popover-date{
        text-align: left;
        right: auto;
        left: calc(100% + 75px);
    }
    .time-line__item--inverted .time-line__popover-date{
        text-align: right;
        left:auto;
        right: calc(100% + 75px);
    }

}
