.section{
    position: relative;
    width: 100%;
}
.section--lg{
    min-height: 640px;
}
.section--md{
    min-height: 320px;
}
.section--sm{
    min-height: 160px;
}

.h1--sale,
.h2--sale,
.h3--sale,
.h4--sale{
    width: 700px;
}
.h1--sale,
.h2--sale{
    font-weight: bold;
    color: #FCFCFC;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    margin: 40px auto;
}
.h1--sale{
    font-size: 3.8em;
}
.h2--sale,
.h3--sale{
    font-size: 1.5em;
}

.btn--sale{
    margin: 0;
    font-size: 1.3em;
    padding: 15px 20px;
}

@media (max-width: 768px) {
    .h1--sale,
    .h2--sale,
    .h3--sale,
    .h4--sale{
        width: 100%;
    }
    .h1--sale{
        font-size: 2.5em;
    }
    .h2--sale{
        font-size: 1.7em;
    }
    .h3--sale{
        font-size: 1.2em;
    }
    .h4--sale{
        font-size: 0.85em;
    }
}

@media (max-width: 400px) {
    .header__link{
        display: none;
    }
}